* {
    margin: 0;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
    align-items: center;
    height: 3rem;
}

#menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.headerMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerMenuItem:hover {
    cursor: pointer;
    border-bottom: 2.5px blue solid;
    color: blue;
}

.headerIcon {
    height: 2rem;
}

#rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#searchContainer {
    display: flex;
    align-items: center;
    border-left: lightgray 1.5px solid;
    border-right: lightgray 1.5px solid;
    height: 3rem;
    display: flex;
}

#searchContainer>input {
    border-style: none;
    font-size: 1rem;
    padding: 0.5rem;
}

#headerLogo {
    height: 2rem;
}

#dropDownMenuAnchor{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#dropDownMenuItems {
    background-color: pink;
}

#dropDownMenuItemInfoLinks {
    display: flex;
    flex-direction: column;
}

#heroContainer {
    display: flex;
    width: 100vw;
    background-color: rgb(206, 203, 203);
    justify-content: right;
}

#heroBackgroundImg {
    width: 1000px;
    box-shadow: lightgray;
    
}